@charset "utf-8";
/*NURUL AINA RAHA BINTI AMRAN
	DATE: 10/6/2021*/
body
{
	font-family: Roboto, Arial, sans-serif;
	color: white;
}

h1
{
	text-align: center;
	justify-content: center;
	background: url(study3.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 250px;
}

.grid-container
{
 	grid-column: 2;
 	grid-template-columns: auto auto;
 	grid-gap: 10px;
 	display: grid;
 	padding: 10px 5px;
 	text-align: left;
 	
 }

 .grid-flex
 {
 	flex-direction: center;
 	text-align: center;
 	position: relative;
 	height: 250px;
 	position: relative;
 	background-size: auto;
 }

legend
{
	background-color: #1c87c9;
	padding: 10px;
}

fieldset
{
	background-color: rgb(214, 234, 248);
}

label
{
	color: black;
}

input,textarea
{
	padding: 5px;
	width: 100%;
	border-radius: 8px;
}

input:focus, textarea:focus
{
	border-style: solid;
	border-width:2px;
	border-color: #43D1AF;
}

input[type="submit"], input[type="reset"]
{
	background-color: #1abc9c;
	color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border: none;
}

